@import "../../styles/colors";

.experienceSection {
  .experiencesWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    .experiences {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .experience {
        .experienceHeader {
          display: flex;
          flex-direction: column;
          .company {
            display: flex;
            align-items: center;
            gap: 8px;
            .mainData {
              display: flex;
              flex-direction: column;
              gap: 2px;
              .title {
                font-size: 18px;
              }
              .workedDate {
                font-size: 12px;
                color: gray;
                font-weight: 500;
              }
            }
            .icons {
              display: flex;
              gap: 8px;
            }
          }
        }
        .content {
          margin-left: 24px;
          margin-top: 12px;
          .list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            list-style: disc;
          }
        }
      }
    }
  }
}
